body {
  margin: 0;
  padding: 0;

  background-color: #f0f0f0; /* Optional: for visual contrast */

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 2px solid rgb(16, 63, 252);
  background-color: cadetblue;
  padding: 50px 0;
  width: 640px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#resetBtn {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}